{% extends "template.html" %}
{% block conteudo %}
      <form action="{{url_for('atualizar')}}" method="post" enctype="multipart/form-data"> <!-- direciona para o app.route -->

        <div class="imagem-capa-area">
        <label for="imagem_capa">Imagem Capa</label>
        <img src="{{url_for('criar_imagem', nome_arquivo=capa_jogo)}}">
        <label for="arquivo" class="btn-upload">Escolher arquivo</label>
        <input type="file" id="arquivo" name="arquivo" enctype="multipart/form-data" style="display: none;">
        </div>

        
        <fieldset>
          <input type="hidden" name="id" value="{{jogos.id}}">
          {{form.csrf_token()}}
          <div class="form-group">  
            {{ form.nome.label()}}
            {{ form.nome(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.categoria.label()}}
            {{ form.categoria(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.console.label()}}
            {{ form.console(class="form-control") }}
          </div>
            <div>{{ form.salvar(class="btn btn-primary btn-salvar mt-3") }}</div>
        </fieldset>
      </form>
{% endblock %}