{% extends "template.html" %}
{% block cabecalho %}
<header class="container py-3 mb-4 border-bottom d-flex align-items-center">
  <h1 class="me-4 fw-bold text-primary mb-0 flex-shrink-0">GameHub</h1>
</header>
{% endblock %}
{% block conteudo %}

<h1>Faça seu login</h1>
<form method="POST" action="{{url_for('autenticar')}}"> <!-- direciona para o app.route -->
  {{form.csrf_token()}}
  <p>
    {{ form.nickname.label() }}
    {{ form.nickname(class="form-control") }}
  </p>
  <p>
    {{ form.senha.label() }}
    {{ form.senha(class="form-control") }}
  </p>
  <p>
    {{ form.salvar(class="btn btn-primary") }}
    <a href="{{url_for('criar_usuario')}}" class="btn btn-primary">Cadastrar</a>
  </p>
</form>
</div>
{% endblock %}